[Desktop Entry]
Name=@name@
Comment=@comment@
Type=Application
Exec=@exe@
Terminal=false
Categories=GTK;GNOME;
Keywords=GNOME;
Icon=application-x-executable
